<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
      
 <!-- 和redis相关的配置 -->
 
 <!-- 单击版redis -->
 <bean id="jedisPoolId" class="redis.clients.jedis.JedisPool">
      <constructor-arg name="host" value="10.0.143.55"></constructor-arg>
      <constructor-arg name="port" value="6379"></constructor-arg>
 </bean>
 
 <bean class="com.shopping.common.jedis.JedisPoolClient">
     <property name="jedisPool" ref="jedisPoolId"></property>
 </bean>
 
 
</beans>        






